
<app-header-branch></app-header-branch>
<body>
<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-6 col-md-6">
                <a [routerLink]="'/product-branch'" class="button button1" role="button">
    <img src="assets/img/agenda.png" height="130" width="130" >       
    <br><br>
    <h3>สินค้าในคลัง</h3>
    </a>
    </div>
    </div>
    </div>

  </mat-grid-tile>
  
  <mat-grid-tile>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-6 col-md-6">
                <a [routerLink]="'/request'" class="button button1" role="button">
                 
    <img src="assets/img/browser.png" height="130" width="130">
                  <br><br>
              <h3>ขอเบิกสินค้า </h3> </a>
              </div>
              </div>
              </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-6 col-md-6">
                <a [routerLink]="'/using-product-branch'" class="button button1" role="button">
    <img src="assets/img/folder.png" height="130" width="130">
                  <br><br>
              <h3>ข้อมูลการใช้สินค้ัา</h3>
              </a>
              </div>
              </div>
              </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-6 col-md-6">
                <a [routerLink]="'/reservation'"class="button button1" role="button">
    <img src="assets/img/file.png" height="130" width="130" >
    <br><br>
    <h3>การจองคอร์ส</h3>
    </a>
    </div>
    </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-6 col-md-6">
                <a [routerLink]="'/report-branch'"class="button button1" role="button">
    <img src="assets/img/analytics.png" height="130" width="130">
                <br><br>
                <h3>ออกรายงาน</h3>
                </a>
                </div>
                </div>
                </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-6 col-md-6">
                <a [routerLink]="'/notification'" class="button button1" role="button">
    <img src="assets/img/gears.png" height="130" width="130">
    <br><br>
    <h3>ตั้งค่าการแจ้งเตือน</h3>
    </a>
    </div>
    </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</body>

  
 
  



  



