<app-header></app-header>


<body >

  <mat-card>
    <h1>การสั่งจ่ายสินค้า</h1>
  
 

        <mat-form-field>
            <mat-select placeholder=" เลือกสาขา" [(ngModel)]="selectbranch" name="selectbranch"> 
              <mat-option *ngFor="let branch of branchs" [value]="branch" >
                {{ branch.Branch_Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <div class="example-header"> -->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ค้นหา">
    </mat-form-field>
    <!-- </div> -->
    <i class="material-icons col-3">search</i>
    <div class="example-container mat-elevation-z8">
       
        <!-- <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Angular forms (w/ deserialization)"
                   [formControl]="serializedDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field> -->

      <mat-table [dataSource]="dataSource1" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="Product_Id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> รหัสสินค้า </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.Product_Code}} </mat-cell>
        </ng-container>

     

        <!-- Progress Column -->
        <ng-container matColumnDef="Product_Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อสินค้า </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.Product_Name}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ProductType_Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทสินค้า </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.ProductType_Name}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <!-- <ng-container matColumnDef="BranchProduct_EXP">
          <mat-header-cell *matHeaderCellDef mat-sort-header   > วันหมดอายุ(วว/ดด/ปปปป) </mat-header-cell>
          <mat-cell *matCellDef="let product"  > {{product.BranchProduct_EXP | date:'dd/MM/yyyy' }} </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="Product_Des">
          <mat-header-cell *matHeaderCellDef mat-sort-header > คำอธิบาย </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.Product_Des}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Product_Instruction">
          <mat-header-cell *matHeaderCellDef mat-sort-header> วิธีใช้ </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.Product_Instruction}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sumAmount">
          <mat-header-cell *matHeaderCellDef mat-sort-header> จำนวนสินค้าในคลัง </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.sumAmount}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="input_num">
          <mat-header-cell *matHeaderCellDef mat-sort-header > จำนวน </mat-header-cell>
          <mat-cell *matCellDef="let product"> <div class="ui input" style="width:70%">
            <input type="text" placeholder="จำนวน" myNumberOnly name="min" [(ngModel)]="product.amount" name="input_name">
             
          </div> </mat-cell> 
        </ng-container>

        <ng-container matColumnDef="button">
          <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
          <mat-cell *matCellDef="let product; let i = index">  <button class="ui inverted violet  button"  (click)=" supplySupply(product.Product_Code ,product.amount,product.sumAmount )">สั่งจ่าย</button> </mat-cell>
          <!-- <mat-cell *matCellDef="let product; let i = index">  <button class="ui inverted violet  button"  (click)="supply(product.BranchProduct_Id,product.Product_Code,product.amount,product.Product_Name,product.BranchProduct_Amount,i,product.BranchProduct_EXP)">สั่งจ่าย</button> </mat-cell> -->
        </ng-container>

        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="onRowClicked(row)">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

      
  </mat-card>

  <!-- <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModalWarn">Open Modal</button>

<div id="myModalWarn" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <br>
        <p>จำนวนสินค้าไม่เพียงพอ</p>
        <br>
      </div>
      
      <div class="modal-footer">
          <button mat-raised-button color="warn" class="btn btn-default" data-dismiss="modal">ปิด</button>
      </div>
    </div>
    
  </div>
</div> -->

<!-- <button id="openModalButton2" [hidden]="true" data-toggle="modal" data-target="#myModalWarn1">Open Modal</button>

<div id="myModalWarn1" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">

      </div>
      <div class="modal-body">
        <p>มีสินค้าใกล้หมดอายุก่อน คุณแน่ใจจะสั่งจ่ายสินค้านี้้</p>
      </div>
      <div class="modal-footer">
          <button mat-raised-button color="warn"class="btn btn-default" data-dismiss="modal">ปิด</button>
        </div>
    </div>
  </div>
</div> -->

<button id="openModalwarn" [hidden]="true" data-toggle="modal" data-target="#myModalWarn1">Open Modal</button>

<div id="myModalWarn1" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
<br>
      </div>
      <div class="modal-body">
        <p>กรุณากรอกจำนวนสินค้าที่ต้องการสั่งจ่าย</p>
      </div>
      <div class="modal-footer">
          <button mat-raised-button color="warn"class="btn btn-default" data-dismiss="modal">ปิด</button>
        </div>
    </div>
  </div>
</div>
<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModalWarn">Open Modal</button>

<div id="myModalWarn" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
<br>
      </div>
      <div class="modal-body">
        <p>สินค้าในคลังไม่เพียงพอต่อการสั่งจ่าย</p>
      </div>
      <div class="modal-footer">
          <button mat-raised-button color="warn"class="btn btn-default" data-dismiss="modal">ปิด</button>
        </div>
    </div>
  </div>
</div>

<button id="openModalButton2" [hidden]="true" data-toggle="modal" data-target="#myModalWarnsuc">Open Modal</button>

<div id="myModalWarnsuc" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
<br>
      </div>
      <div class="modal-body">
        <p>สั่งจ่ายตามคำขอเรียบร้อย</p>
      </div>
      <div class="modal-footer">
          <button mat-raised-button color="warn"class="btn btn-default" data-dismiss="modal">ปิด</button>
        </div>
    </div>
  </div>
</div>
</body>