/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  /* input[type=text], input[type=password] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
  } */
 
  
  /* Set a style for all buttons */
.example-full-width{
  width:  150px
}
  .example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  /* Add a hover effect for buttons */

  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 10%;
    border-radius: 50%;
  }
  

  
  /* The "Forgot password" text */
  span {
   
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 50%;
    }
  }
  mat-card {
    margin: 3%;
    
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

/* input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
} */

/* input.example-right-align {
  -moz-appearance: textfield;
} */
.center{
  width: 30%;
  margin: 10px auto;
  text-align: center;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}