<app-header></app-header>
<mat-card>
    <div class="example-container">
        
            <h1 style="text-align:center">แก้ไขข้อมูลสินค้า</h1>
            <!-- <input myNumberOnly name="min" placeholder="Enter Value" [(ngModel)]="my"><br> -->
      <mat-form-field>
        <input matInput myNumberOnly name="min" placeholder="Enter Value"  placeholder="รหัสสินค้า" type="number" id="idp" [(ngModel)]="id">
       
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="ชื่อสินค้า" id="name" [(ngModel)]="name">
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-select placeholder=" ประเภทสินค้า" [(ngModel)]="product" name="typeproduct"> 
          <mat-option *ngFor="let type of productTypes" [value]="type">
            {{ type.ProductType_Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <!-- <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" id="p_exp">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <br> -->
      <mat-form-field>
        <textarea matInput placeholder="คำอธิบาย" id="des" [(ngModel)]="des"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field>
        <textarea matInput placeholder="วิธีใช้" id="ins" [(ngModel)]="ins"></textarea>
      </mat-form-field>

 <button class="ui inverted orange  button" (click)="save()">Update</button>

  

    </div>
</mat-card>



