<app-header-branch></app-header-branch>
<body>
  <mat-card>
   <h1>ตั้งค่าการแจ้งเตือน</h1>
<mat-tab-group>
  <mat-tab label="การตั้งค่าแจ้งเตือนสินค้าในคลังใกล้หมด">
      
    
    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      
      <div class="example-container mat-elevation-z8">
      
        <mat-table [dataSource]="dataSource1" matSort>
      
          

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell style="flex: 0 0 6%;" *matHeaderCellDef mat-sort-header> รหัสสินค้า </mat-header-cell>
            <mat-cell style="flex: 0 0 6%;" *matCellDef="let product"> {{product.Product_Code}}</mat-cell>
          </ng-container>
      
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell style="flex: 0 0 9%;" *matHeaderCellDef mat-sort-header> ชื่อสินค้า </mat-header-cell>
            <mat-cell style="flex: 0 0 9%;" *matCellDef="let product"> {{product.Product_Name}} </mat-cell>
          </ng-container>
           <!-- Name Column -->
           <ng-container matColumnDef="amount"> 
            <mat-header-cell style="flex: 0 0 7%;" *matHeaderCellDef mat-sort-header> จำนวนสินค้าในคลัง </mat-header-cell>
            <mat-cell style="flex: 0 0 7%;" *matCellDef="let product"> {{product.BranchProduct_Amount}} </mat-cell>
          </ng-container>

           <!-- Progress Column -->
           <ng-container matColumnDef="noti1">
            <mat-header-cell *matHeaderCellDef mat-sort-header> การเตือนระดับที่ 1 </mat-header-cell>
            <mat-cell *matCellDef="let product"> <div class="ui input" >
              <input type="text" myNumberOnly name="min" placeholder={{product.Notifications_Amount1}} [(ngModel)]="product.noti1"  >
            </div> </mat-cell>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="noti2">
            <mat-header-cell *matHeaderCellDef mat-sort-header> การเตือนระดับที่ 2 </mat-header-cell>
            <mat-cell *matCellDef="let product"> <div class="ui input" >
              <input type="text" myNumberOnly name="min" placeholder={{product.Notifications_Amount2}} [(ngModel)]="product.noti2" >
            </div> </mat-cell>
          </ng-container>

          <ng-container matColumnDef="noti3">
            <mat-header-cell *matHeaderCellDef mat-sort-header> การเตือนระดับที่ 3 </mat-header-cell>
            <mat-cell *matCellDef="let product">  <div class="ui input" >
              <input type="text" myNumberOnly name="min" placeholder={{product.Notifications_Amount3}} [(ngModel)]="product.noti3" >
            </div> </mat-cell>
          </ng-container>


          <ng-container matColumnDef="button">
            <mat-header-cell   *matHeaderCellDef mat-sort-header  >   </mat-header-cell>
            <mat-cell *matCellDef="let product">  <button class="ui inverted green button" (click)="setting_amount(product.Product_Code,product.noti1,product.noti2,product.noti3,product.Notifications_Amount1,product.Notifications_Amount2,product.Notifications_Amount3,product.BranchProduct_Id)">ยืนยัน</button> &nbsp; <button class="ui inverted red button">ยกเลิก</button> </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let product; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
         
  </mat-tab>
  <mat-tab label="การตั้งค่าแจ้งเตือนสินค้าใกล้หมดอายุ">
        <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          
          <div class="example-container mat-elevation-z8">
          
            <mat-table [dataSource]="dataSource1" matSort>
          
             <!-- ID Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell style="flex: 0 0 6%;" *matHeaderCellDef mat-sort-header> รหัสสินค้า </mat-header-cell>
            <mat-cell style="flex: 0 0 6%;" *matCellDef="let product"> {{product.Product_Code}} </mat-cell>
          </ng-container>
      
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell  style="flex: 0 0 9%;" *matHeaderCellDef mat-sort-header> ชื่อสินค้า </mat-header-cell>
            <mat-cell   style="flex: 0 0 9%;" *matCellDef="let product"> {{product.Product_Name}} </mat-cell>
          </ng-container>

           <!-- Name Column -->
           <ng-container matColumnDef="exp">
            <mat-header-cell  style="flex: 0 0 9%;" *matHeaderCellDef mat-sort-header> วันหมดอายุ </mat-header-cell>
            <mat-cell  style="flex: 0 0 9%;"*matCellDef="let product"> {{product.BranchProduct_EXP| date:'dd/MM/yyyy'}} </mat-cell>
          </ng-container>

           <!-- Progress Column -->
           <ng-container matColumnDef="notiExp1">
            <mat-header-cell *matHeaderCellDef mat-sort-header> การเตือนระดับที่ 1 </mat-header-cell>
            <mat-cell *matCellDef="let product"> <div class="ui input">
              <input type="text" myNumberOnly name="min" placeholder="{{product.Notifications_Exp1}} วัน" [(ngModel)]="product.notiExp1" > 
            </div> </mat-cell>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="notiExp2">
            <mat-header-cell *matHeaderCellDef mat-sort-header> การเตือนระดับที่ 2 </mat-header-cell>
            <mat-cell *matCellDef="let product"> <div class="ui input" >
              <input type="text" myNumberOnly name="min" placeholder="{{product.Notifications_Exp2}} วัน " [(ngModel)]="product.notiExp2">
            </div> </mat-cell>
          </ng-container>

          <ng-container matColumnDef="notiExp3">
            <mat-header-cell *matHeaderCellDef mat-sort-header> การเตือนระดับที่ 3 </mat-header-cell>
            <mat-cell *matCellDef="let product">  <div class="ui input" >
              <input type="text" myNumberOnly name="min" placeholder="{{product.Notifications_Exp3}} วัน " [(ngModel)]="product.notiExp3" >
            </div> </mat-cell>
          </ng-container>


          <ng-container matColumnDef="button">
            <mat-header-cell *matHeaderCellDef mat-sort-header>   </mat-header-cell>  
            <mat-cell *matCellDef="let product">  <button class="ui inverted green button"(click)="setting_exp(product.Product_Code,product.notiExp1,product.notiExp2,product.notiExp3,product.Notifications_Exp1,product.Notifications_Exp2,product.Notifications_Exp3,product.BranchProduct_Id)"  >ยืนยัน</button>
            &nbsp; <button class="ui inverted red button">ยกเลิก</button> </mat-cell>
          </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
              <mat-row *matRowDef="let product; columns: displayedColumns2;">
              </mat-row>
            </mat-table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>  
  </mat-tab> 
</mat-tab-group>
</mat-card>
<!-- <div *ngIf="check">
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>This is a small modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <button id="openModalButtonUndefine" [hidden]="true" data-toggle="modal" data-target="#myModalWarn3">Open Modal</button>

<div id="myModalWarn3" class="modal fade">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
         
        <div class="modal-body">
          <br>
          <p>กรุณากรอกเงื่อนไขการแจ้งเตือน</p>
        </div>
        <div class="modal-footer">
                       
            <button mat-raised-button color="warn" class="btn btn-default" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </div>
  <button id="openModalButtonSuccessAmount" [hidden]="true" data-toggle="modal" data-target="#myModalWarn1">Open Modal</button>

  <div id="myModalWarn1" class="modal fade">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
           
          <div class="modal-body">
            <br>
            <p>บันทึกการเปลี่ยนแปลงเรียบร้อยแล้ว</p>
          </div>
          <div class="modal-footer">
                         
              <button mat-raised-button color="warn" class="btn btn-default" data-dismiss="modal">ปิด</button>
          </div>
        </div>
      </div>
    </div>

<button id="openModalButton2" [hidden]="true" data-toggle="modal" data-target="#myModalWarn2">Open Modal</button>

<div id="myModalWarn2" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
                      
                  </div>
      <div class="modal-body">
        <p>กรุณากรอกจำนวนสินค้าให้จำนวนการแจ้งเตือนระดับที่ 1 มากกว่า ระดับที่ 2 และ ระดับ 2 มากกว่า ระดับ 3 ดังตัวอย่างต่อไปนี้</p><br>
        <img src="./assets/img/ex2.png" >
      </div>
      <div class="modal-footer">
                     
                      <button mat-raised-button color="warn" class="btn btn-default" data-dismiss="modal">ปิด</button>
                  </div>
    </div>
  </div>
</div>
</body>


