.example-form {
    min-width: 100px;
    max-width: 250px;
    width: 50%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-spacer {
    flex: 1 1 auto;
  }  

  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  mat-card {
    margin: 3%;
    
}
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  h1 { color: #111;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 2; 
    text-align: center;
   background-color: #c9c9ff;
  }