
<app-header></app-header>
<body>
<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-6 col-md-6">
                    <a [routerLink]="'/product'" class="button button1" role="button">
    <img src="assets/img/agenda.png" height="130" width="130" >       
    <br><br>
    <h3>สินค้า</h3>
    </a>
    </div>
    </div>
    </div>

  </mat-grid-tile>
  
  <mat-grid-tile>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-6 col-md-6">
                    <a [routerLink]="'/supply'" class="button button1" role="button">
                 
    <img src="assets/img/browser.png" height="130" width="130">
                  <br><br>
              <h3>การสั่งจ่ายสินค้า </h3> </a>
              </div>
              </div>
              </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-6 col-md-6">
                    <a [routerLink]="'/requisition'" class="button button1" role="button">
    <img src="assets/img/file.png" height="130" width="130">
                  <br><br>
              <h3>คำขอเบิกสินค้า</h3>
              </a>
              </div>
              </div>
              </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-6 col-md-6">
                    <a [routerLink]="'/using-product'"class="button button1" role="button">
    <img src="assets/img/folder.png" height="130" width="130" >
    <br><br>
    <!-- <h3>ข้อมูลการใช้สินค้าสาขาย่อย</h3>
    </a>
    </div>
    </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-6 col-md-6">
                    <a [routerLink]="'/report'" class="button button1" role="button">
    <img src="assets/img/analytics.png" height="130" width="130"> -->
                
                <h3>ออกรายงาน</h3>
                </a>
                </div>
                </div>
                </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-6 col-md-6">
                    <a [routerLink]="'/notification'" class="button button1" role="button">
    <img src="assets/img/gears.png" height="130" width="130">
    <br><br>
    <h3>ตั้งค่าการแจ้งเตือน</h3>
    </a>
    </div>
    </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                  <a [routerLink]="'/manage-employee'" class="button button1" role="button">
  <img src="assets/img/user.png" height="130" width="130">
  <br><br>
  <h3>จัดการพนักงาน</h3>
  </a>
  </div>
  </div>
  </div>
</mat-grid-tile>
</mat-grid-list>
</body>

  
 
  



  



