mat-grid-tile {
  background: rgb(255, 255, 255);
}
.icon-card {
  width: 130px;
  height: 130px;
}
body { padding-top:20px; }
.panel-body .button:not(.btn-block) { width:400px;margin-bottom:10px; 
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(170, 241, 172);
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
mat-card {
    margin: 3%;
    
}